/*疑似要素before，afterを含むすべての要素にbox-sizingを指定*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*特に指定がなければウィンドウサイズに合わせてfontsizeが変わる
html {
   font-size: calc(112.5% + 0.5vw)
 }
 */
body{
  margin: 0px;
  width: 100vw;
  max-width: 100%;
  height: auto;
}
img{
  height:auto;
  max-width:100%;
}
.header{
  display: none;
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: auto;
  min-height: 80px;
  background: linear-gradient(90deg,#175081 0,#9c3879 100%);
  border-bottom: 1px solid #fff;
  font-size: 13px;
  font-weight: bold;
  color: #fff;
}
.header ul{
  margin:auto;
  padding: 10px;
  max-width: 100%;
  width: 976px;
  height: 20px;
}
.header li{
  display: -webkit-inline-box;
  list-style: none;
  margin: 10px;
  width: auto;
  max-width: 100%;
  height: auto;
  letter-spacing: 2.0px;
}
.header li:hover{
  color: #ff0;
}
@media screen and (max-width:767px) {
.header ul{
  margin:auto;
  padding: 5px;
  max-width: 100%;
  width: 976px;
  height: 20px;
}
.header li{
  display: inline;
  list-style: none;
  margin: 10px;
  width: 100px;
  max-width: 100%;
  height: auto;
  font-size: 10px !important;
  letter-spacing: 2.0px;
  line-height: 3;
}
}
.top-img{
  width: 100%;
  height: 538px;
  background-image: url(main_bg.jpg);
  background-position: center center;
  /*cover:縦横比は保持して、背景領域を完全に覆う最小サイズになるように背景画像を拡大縮小する*/
  background-size: cover;
  background-repeat: no-repeat;
}
.te1{
  position: relative;
  top:0px;
  left: 50px;
  padding: 10px;
  background: linear-gradient(90deg,rgba(3, 39, 84, 0.9), rgba(162, 6, 122, 0.9));
  background-color: #ffffff;
  transition:0.1s;/*変化するまでの時間*/
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-weight: normal;
  text-align: center;
}
@media screen and (max-width:767px) {
.te1{
  position: inherit;
  top:10px;
  padding: 5px 5px;
  width: 100px;

  background: linear-gradient(90deg,rgba(3, 39, 84, 0.9), rgba(162, 6, 122, 0.9));
  background-color: #ffffff;
  transition:0.1s;/*変化するまでの時間*/
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 50%;
  font-weight: normal;
  text-align: center;
}
}
.te1:hover{
  cursor: pointer;
  background-color: #000000;
}
.text-area{
  margin: auto;
  padding: 0px 10px;
  width: 976px;
  max-width: 100%;
  height: auto;
  overflow:
}
.bg1{
  width: -webkit-fill-available;
  max-width: 100%;
  height: auto;
  background: linear-gradient(90deg,#175081 0,#9c3879 100%);
}
.main1{
  padding: 80px 10px;
  width: 100%;
  max-width: 100%;
  height: -webkit-fill-available;
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.main1 li{
  list-style: none;
}
.tex0{
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 16px;
}
.tex1{
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 5px;
  font-weight: bold;
  font-size: 14px;
}
.tex2{
  margin: 20px auto;
  padding: 11px;
  width: 200px;
  min-width: 190px;
  height: 50px;
  background: linear-gradient(90deg,rgba(3, 39, 84, 0.9), rgba(162, 6, 122, 0.9));
  background-color: #ffffff;
  transition:0.1s;/*変化するまでの時間*/
  border: 2px solid #ffffff;
  border-radius: 30px;
  font-size: 16px;
  text-align: center;
}
.tex2:hover{
  cursor: pointer;
  background-color: #000000;
}

.main2{
  margin: 0%;
  padding: 7% 1%;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #fff;
}
.line1{
  margin: 1% auto 5%;
  width: 80px;
  max-width: 100%;
  height: 3px;
  background: linear-gradient(90deg,rgba(3, 39, 84, 1), rgba(162, 6, 122, 1));
}
.line2{
  margin: 1% auto 5%;
  width: 80px;
  max-width: 100%;
  height: 3px;
  background-color: #ffffff;
}
.t1,.t2,.t-f1,.t-f2{
  margin: 0px 0px;
  padding: 0px 0px;
  text-align: center;
}
.t1{
  font-size: 24px;
  color: #333;
}
.t-f1{
  font-size: 24px;
  color: #ffffff;
}
.t2{
  font-size: 12px;
  color: #949697;
}
.t-f2{
  font-size: 12px;
  color: #ffffff;
}
/*PC用テキストサイズ*/
.t3{
  color: #555;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
.t4{
  color: #333;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
/*スマホ用テキストサイズ*/
@media screen and (max-width:767px) {
.t3{
  color: #555;
  font-size: 11px;
  font-weight: 700;
  text-align: center;
}
.t4{
  color: #333;
  font-size: 10px;
  font-weight: 400;
  text-align: left;
}
}
.main2 ul{
  display: flex;
  margin: 0% 0%;
  padding: 0%;
}
.main2 li{
  list-style: none;
  margin: 0% auto;
  padding: 4% 0%;
  width: 216px;
  max-width: 100%;
  height:auto;
}
/*スマホ用テキストサイズ*/
@media screen and (max-width:767px) {
.main2 ul{
  display: block;
  margin: auto;
  padding: initial;
}
.main2 li{
  list-style: none;
  margin: auto;
  padding: 0px;
  width: 500px;
  max-width: 100%;
  height:auto;
}
}
.main3{
  margin: 0%;
  padding: 5% 1%;
  width: 100%;
  max-width: 100%;
  height: auto;
  color: #fff;
}
.box1{
  display: flex;
}
.pc-img{
  width: -webkit-fill-available;
  height: auto;
}
.m3-text{
  padding: 0% 2%;
  width: -webkit-fill-available;
  max-width: 100%;
  height: auto;
  letter-spacing: 2.5px;
}
.m3-text h3{
  font-size: 18px;
  font-weight: 700;
  color: #feff2a;
}
.m3-text p{
  font-size: 13px;
  font-weight: 700;
  color: #ffffff;
}
@media screen and (max-width:767px) {
.m3-text h3{
  font-size: 12px;
  font-weight: 700;
  color: #feff2a;
}
.m3-text p{
  font-size: 10px;
  font-weight: 700;
  color: #ffffff;
}
}
.bg2{
  width: -webkit-fill-available;
  max-width: 100%;
  background-color: #363636;
}
.ber{
  margin: 0%;
  padding: 1px;
  width: 856px;
  max-width: 100%;
  height: auto;
  background-color: #363636;
  color: #fff;
}
.ber ul{
  display: -webkit-box;
  padding: 0px;
}
.ber li{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  max-width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  border-right: 1px solid #666;
}
.b-none{
  margin: 0px;
  padding-left: 10px;
  width: 215px;
  max-width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 18px;
  text-align: center;;
}
@media screen and (max-width:767px) {
.ber li{
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 20%;
  max-width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  border-right: 1px solid #666;
}
.b-none{
  margin: 0px;
  padding: 0px;
  width: 20%;
  max-width: 100%;
  height: auto;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
}

.ber span{
  font-weight: 700;
  font-size: 12px!important;
  color: #fdd537;
}

}
.ber span{
  font-weight: 700;
  font-size: 20px;
  color: #fdd537;
}
.main4{
  margin: 0%;
  padding: 2%;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #fff;
}
.m4-contents{
  display: flex;
}
.m4-text1{
  margin: 1% 0%;
  padding: 1%;
  width: -webkit-fill-available;;
  max-width: 100%;
  height: auto;
  font-size: 13px;
  color: #333333;
}
.m4-text2{
  margin: 0px;
  width: auto;
  max-width: 100%;
  height: auto;
  font-size: 13px;
  color: #333333;
}
.m4-img1{
  margin: auto;
}
.t5{
  margin: 0px;
  font-size: 20px;
  font-weight: 700;
  color: #2976b6;
}
.main4 span{
  color: #ff3d3d;
}
.bg3{
  padding: 10px;
  width: -webkit-fill-available;
  max-width: 100%;
  height: auto;
  background: linear-gradient(90deg,#175081 0,#9c3879 100%);
}
@media screen and (max-width:767px) {
.m4-text1 p{
  margin: 0px;
  width: -webkit-fill-available;;
  max-width: 100%;
  height: auto;
  font-size: 10px;
  color: #333333;
}
.m4-text2 p{
  margin: 0px;
  width: auto;
  max-width: 100%;
  height: auto;
  font-size: 10px;
  color: #333333;
}
.t5{
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
  color: #2976b6;
}
.bg3{
  padding: 10px;
  width: -webkit-fill-available;
  max-width: 100%;
  height: auto;
  background: linear-gradient(90deg,#175081 0,#9c3879 100%);
}
}
.main5{
  margin: auto;
  padding: auto;
  width: 100%;
  max-width: 100%;
  height: auto;
  color: #fff;
}
.m5-contents{
  display: flex;
  padding: 10px 70px;
  width: auto;
  max-width: 100%;
  height: auto;
}
@media screen and (max-width:767px) {
.m5-contents{
  display: grid;
  margin-bottom: 10px;
  padding: 0px;
  width: 976px;
  max-width: 100%;
  height: auto;
}
}

.main5 li{
 display: inline-block;
 list-style: none;
 margin: 5px;
 padding: 10px;
 width: 99%;
 max-width: 100%;
 border-radius: 5px;
 background-color: #fff;
 color: #000;
}
.m5-flow{
  display:-webkit-box;
  display:flex;
  display:inline-flex;
}
.step{
 display: block;
 list-style: none;
 padding: 10px 10px;
}
.m5-text{
  font-size: 1.3rem;
  font-weight: 400;
  color: #333333;
}
.t6{
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  color: #295f89;
}
.t7{
  margin: 0px;
  font-size: 22px;
  font-weight: 700;
  color: #295f89;
}
@media screen and (max-width:767px) {
.m5-text{
  font-size: 10px;
  font-weight: 400;
  color: #333333;
}
.t6{
  margin: 0px;
  font-size: 11px;
  font-weight: 400;
  color: #295f89;
}
.t7{
  margin: 0px;
  font-size: 16px;
  font-weight: 700;
  color: #295f89;
}
}
.Registration-form{
  margin: 0%;
  padding: 5%;
  width: 100%;
  max-width: 100%;
  height: auto;
  background-color: #fff;
}

.input-style1{
  margin: 0px;
  padding: 0px;
  width: 95%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 13px;
}
.input-style2{
  margin: 0px;
  padding: 0px;
  width: 20%;
  max-width: 100%;
  height: 44px;
  border: 1px solid;
  font-size: 13px;
}
.input-style3{
  margin: 0px;
  padding: 0px;
  width: 25%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 13px;
}
.input-style4{
  margin: 0px;
  padding: 0px;
  width: 45%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 13px;
}
.input-style5{
  margin: 0px auto;
  padding: 0px;
  width: 95%;
  max-width: 100%;
  height: 44px;
  border: 1px solid;
  font-size: 13px;
}
.red-font{
  color: #ff3d3d;
}
@media screen and (max-width:767px) {
.Registration-form h3{
  font-size: 12px;
}
.input-style1{
  margin: 0px;
  padding: 0px;
  width: 95%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 10px;
}
.input-style2{
  margin: 0px;
  padding: 0px;
  width: 20%;
  max-width: 100%;
  height: 44px;
  border: 1px solid;
  font-size: 10px;
}
.input-style3{
  margin: 0px;
  padding: 0px;
  width: 25%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 10px;
}
.input-style4{
  margin: 0px;
  padding: 0px;
  width: 45%;
  max-width: 100%;
  height: 42px;
  border: 1px solid;
  font-size: 10px;
}
.input-style5{
  margin: 0px auto;
  padding: 0px;
  width: 95%;
  max-width: 100%;
  height: 44px;
  border: 1px solid;
  font-size: 10px;
}
.setting p{
  font-size: 10px;
}    
}
.r-box{
  margin:5% auto;
  letter-spacing: 2.5px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}
.r-box h3{
  margin: 0px;
}
.setting{
  display: none;
  padding-left: 40px;
}
.btn{
  margin: 3% auto;
  padding: 2% 1%;
  width: 200px;
  max-width: 100%;
  height: auto;
  background: linear-gradient(90deg,rgba(3, 39, 84, 0.9), rgba(162, 6, 122, 0.9));
  background-color: #ffffff;
  transition:0.1s;/*変化するまでの時間*/
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}
.btn:hover{
  cursor: pointer;
  background-color: #000000;
}
.footer{
  margin: auto;
  padding: 5px;
  width: 976px;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  color: #fff;
}
.footer ul{
  padding: 0px 15px;
}
.f-font1{
  margin: 2px 0px;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
  color: #ffffff;
}
.footer li{
  display: -webkit-inline-box;
  list-style: none;
  margin-right: 20px;
  padding: 2px 0px;
  width: auto;
  height: auto;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  color: #cccccc;
}

.Copyright{
  margin: 0px;
  padding-top: 2%;
  max-width: 100%;
  height: auto;
  border-top: 1px solid #7e7e7e;
  letter-spacing: 2.5px;
  font-size: 13px;
  font-weight: 400px;
  font-family: sans-serif;
  color: #7e7e7e;
  text-align: center;
}
