.container {
  margin: 0 auto;
  padding: 40px;
  width: 1000px;
  color: #fff;
  background: #419be0;
}
.container h1{
  margin: 0px auto;
  text-align: center;
}
.single-item{
  margin: 10px auto;
  padding: 10px;
  height:800px;
  color: #fff;
  background-color: #3a1;
}
.menu1{
  padding-left: 1px;
  padding-right: 1px;
}
.menu{
  float:left;
  padding: 0px 60px;
  border: 1px solid #fff;
  background-color: #000;
}
.text{
  margin: 100px 1px 1px 1px;
  padding: 1px 3px;
  border-style: dashed;
  background-image: url(D:/programingu/image/negisi.jpg);
  background-repeat:round;
  height: 400px;
  width: 945px;
  color: #000;
  text-shadow:6px 10px 3px #f00;

}
.text p{
  margin:  1% 1% 1% 1%;
  padding: 1% 1% 1% 1%;
  width:24%;
  background-color: #fff;
}
.text2{

}
