.header{
  padding: 20px;
  height: 100px;
  background-color: #0ff;
}
.profile{
  font-size: 30px;
  color: #fff;
  
}

.main{
  height: 500px;
  background-color: #fff;
}

.footer{
  height: 100px;
  background-color: #00f;
}
