.header{
  margin: 15px auto;
  padding: 30px;
  width: 700px;
  height: 100px;
  background-color: #0f9;
  display: block;
}
.title{
  font-size: 30px;
  color: #000;
}
span{
  font-size: 20px;
}
.main{
  margin: 15px auto;
  padding: 30px;
  width: 700px;
  height: auto;
  background-color: #000;
  color: #eee;
}
.footer{
  margin: 15px auto;
  padding: 30px;
  width: 700px;
  height: 100px;
  background-color: #030;
  color:#fff;
}
.action-list{
  margin: 10px;
  padding: 10px;
  border: solid 10px #0ff;
  color: #f0f;
  text-align: right;
  background-image:url("Toilet.jpg");
  background-repeat: round;
}

.pre-comment{
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  border:solid 1px #fff;
}
.btn1{
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.btn1:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}
.btn2{
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
.btn2:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}
/*コメント欄の設定*/
.comment-form {
  margin: 20px;
  padding: 0px 35px;
  background-color: #333;
  border: solid;
  text-align: center;
}
/* inputとtextareaのCSSを指定してください */
input{
  width:400px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
textarea{
  width:400px;
  height: 200px;
  margin-top:10px;
  margin-bottom:30px;
  padding:20px;
  font-size:18px;
  border:1px solid #dee7ec;
}
/* contact-submitのCSSを指定してください */
.contact-submit{
  cursor: pointer;
  background-color:#dee7ec;
  color:#889eab;
}
.hover-text{
  display: none;
}
/*ボタンの設定
.btn{
  display: inline-block;
  cursor: pointer;
  padding: 12px 80px;
  background-color: #5dca88;
  box-shadow: 0px 5px #279C56;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}

.btn:active{
  position: relative;
  top: 5px;
  box-shadow: none;
}

リンクの設定
#text{
  font-size: 30px;
  color: #fff;

}

