.header{
  margin: -10px auto;
  padding: 30px;
  width: 100%;
  max-width: 950px;
  height: 200px;
  background-image: url(width-logo.png);
  background-repeat: round;
}

.title{
  font-size: 50px;
  color: #fff;
}
.subtitle{
  font-size: 30px;
}
a{
  float: left;
  margin-top: 0px;
  margin-right: 5px;
  padding: 0px 5px;
  width: auto;
}
a:hover{
  background-color: pink;
  }
.main{
  margin: 15px auto;
  padding: 0px;
  width: 100%;
  max-width: 950px;
  height: auto;
  background-color: #fff;
  color: #000;
}
.footer{
  margin: auto;
  padding: 30px;
  width: 100%;
  max-width: 950px;
  height: 200px;
  background-image: url(width-logo.png);
  background-repeat: round;
  color:#fff;
}

.about{
  width: 100%;
  height: 1200px;
  padding: 10px 0px;
  margin: 20px auto;
  border: 1px solid #000;
  background-image: url(.png);
  background-repeat: round;
}
.about li{
  list-style: none;
}
.content{
  float: left;
  width: 70%;
  height: 250px;
  padding: 10px 0px;
  margin: 10px 150px;
  border: 1px solid #000;
}
.text1{
  float: left;
  width: 230px;
  height: 128px;
  padding: 60px 50px;
  margin: 0px 0px;
  border: 0px solid #000;
  font-size: 60px;
}
.img1{
  float: left;
  width: 250px;
  height: 250px;
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px solid #000;
  background-image: url(logo.png);
  background-repeat: round;
}
.text2{
  float: left;
  width: 230px;
  height: 128px;
  padding: 60px 50px;
  margin: 0px 0px;
  border: 0px solid #000;
  font-size: 30px;
}
.img2{
  float: left;
  width: 250px;
  height: 250px;
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px solid #000;
  background-image: url(logo.png);
  background-repeat: round;
}
.text3{
  float: left;
  width: 230px;
  height: 128px;
  padding: 60px 50px;
  margin: 0px 0px;
  border: 0px solid #000;
  font-size: 30px;
}
.img3{
  float: left;
  width: 250px;
  height: 250px;
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px solid #000;
  background-image: url(logo.png);
  background-repeat: round;
}
.text4{
  float: left;
  width: 230px;
  height: 128px;
  padding: 60px 50px;
  margin: 0px 0px;
  border: 0px solid #000;
  font-size: 30px;
}
.img4{
  float: left;
  width: 250px;
  height: 250px;
  padding: 0px 0px;
  margin: 0px 0px;
  border: 0px solid #000;
  background-image: url(logo.png);
  background-repeat: round;
}
