<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>labo</title>
  <meta name="description" content="blog_tema">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/common.min.css">
  <link rel="stylesheet" href="css/test.min.css">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:100,300,400,500,700,900&display=swap&subset=japanese" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/ae083c0722.js"></script>
</head>
<body>
  <h1>vue1</h1>
  <div id="app">
    <p>{{message}}</p>
    <p>{{message2}}</p>
    <p>{{message3}}</p>
    <p>{{message4}}</p>
    <!--書き換えボタンを追加しています。-->
    <!--v-on:はクリックした時に処理を発動させます。ディレクティブと呼ばれています-->
    <!--ディレクティブは何個も存在し、個別に機能を持っています-->
    <!--ディレクティブの後にclickと続き、toggleLoginTypeが指定されています-->
    <!--toggleLoginTypeをクリックした時の処理はscript内のmethodに書いています-->
    <!--toggleLoginTypeは任意の名前ですので好きに変更してみてください。-->
    <button v-on:click="button">書き換えボタン</button>
    <button v-on:click="button2">書き換えボタン2</button>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
  var app = new Vue({
    el:"#app",
    data:{
      message : "変数の中身",
      message2 : "中身2",
      message3 : "変数3",
      message4 : "4"
    },
    //methodsを追加し、中に処理を書きます。
    methods:{
      //buttonに指定したtoggleLoginTypeの処理を書きます。
      //他の言語やった方はおなじみの関数っぽい書き方です。
      //toggleLoginTypeは任意の名前ですので好きに変更してみてください。
      button: function(){
        //thisはappを意味しまして、これが無いと書き換わりません。
        this.message = "書き換え成功しました！"
        // this.message2 = "書きaaaaaa換え成功しました！",
        // this.message3 = "書き換aaaaえ成功しました！",
        // this.message4 = "aaa"
      },
      button2: function(){
        //thisはappを意味しまして、これが無いと書き換わりません。
        this.message = "書き換え失敗しました！",
        this.message2 = "書きaaaaaa換え成功しました！",
        this.message3 = "書き換aaaaえ成功しました！",
        this.message4 = "aaa"
      }
    }
  })
  </script>

  <br>
  <h1>vue2</h1>
  <!--appで囲んだエリアにVue.jsが適応されます-->
  <div id="app2">

    <!--セレクトボックスで選択肢を作りましょう-->
    <!--v-model="selected"が今回のディレクティブの1つです-->
    <!--v-modelで入力した結果はリアルタイムにselectedに格納されます-->
    <!--selectedは言ってみれば変数のようなデータの入れ物です-->
    <!--selectedという名前は任意で自由に変えることができます-->
    <select v-model="selected">
      <option disabled value="">選択してください</option>
      <option>Hello</option>
      <option>Good Afternoon</option>
      <option>Good Night</option>
    </select>
    <div>
      <span>英語 :</span>
      <!--ここにセレクトボックスで選んだ値が表示されます-->
      <!--もちろん、リアルタイムで表示されます-->
      <span>{{ selected }}</span>
    </div>
    <div>
      <span>日本語 :</span>
      <!--v-ifがif文の効果を持つディレクティブです。-->
      <!--もしselectedがhelloだったらおはようを表示します。-->
      <span v-if="selected === 'Hello'">おはよう</span>
      <!--もしselectedがGood Afternoonだったらこんにちはを表示します。-->
      <span v-else-if="selected === 'Good Afternoon'">こんにちは</span>
      <!--もしselectedがGood Nightだったらこんにちはを表示します。-->
      <span v-else-if="selected === 'Good Night'">こんばんは</span>
      <!--どれにも該当しない場合、下記になります。-->
      <span v-else>英語の挨拶を選択してください</span>
    </div>
  </div>

  <!--Vue.jsを使えるためのフレームワークを読み込んでいます。-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script>
  var app = new Vue({
    el: '#app2',
    data: {
      selected: ''
    }
  })
</script>
<br>
<h1>vue3</h1>
<div id="app3">
  <h1>ドル円変換(1ドル109.89円の時)</h1>
  <!--v-modelはbadgetと連動し、リアルタイムで格納された価格を変更できます-->
  <!--badgetにはscriptの中で初期の金額が設定されています-->
  <input type="text" v-model="badget" />ドル
  <div>
    <h2>円に変えると</h2>
    <!--badgetchangeに109.89円かけられた数値が入ります-->
    <!--どうやって109.89円をリアルタイムにかけるのでしょうか-->
    <!--script内の算出プロパティcomputedに書かれた関数がかけています-->
    <p>{{badgetchange}}円の価値があります</p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app = new Vue({
  el: '#app3',
  data: {
    //初期の費用を決めます。
    badget : 10000
  },
  //算出プロパティ「computed」はdataに変化があった時に起動します。
  //input経由でbadgetに変化があったら、下記内容が実行されます。
  computed:{
    //badgetchangeの中に、109.89がかけられた数値が入ります。
    badgetchange: function () {
      return this.badget * 109.89
    }
  }
})
</script>
<br>
<h1>vue4</h1>
<div id="app4">
  <ul>
    <!--商品のリストを一覧で出力します。-->
    <!--v-forで商品データ一覧をループして表示します-->
    <!--v-forはよくあるfor文のようなものです-->
    <!--商品一覧はitemsに保持されています-->
    <!--itemsに保持されたデータをv-forでitemslistshowに格納し直します-->
    <!--itemslistshow in itemsが出力用に格納し直すタグです-->
    <!--itemslistshowもitemsも、任意で自由に名前を決められるものです-->
    <!--{{}}でデータを出力します-->
    <!-- <li v-for="itemslistshow in items">{{itemslistshow.product}}:{{itemslistshow.price}}円</li> -->
    <!--下記は連番でclassをつける方法です。試してみてください。-->
    <li v-for="(itemslistshow, index) in items" v-bind:class="['productList' + index]">{{itemslistshow.product}}:{{itemslistshow.price}}円</li>
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app = new Vue({
  el: '#app4',
  data: {
    //アイテムのデータを一覧で持たせます。
    //それぞれ、複数のデータをもたせることができます。
    items: [
      { id: 0,product:'最新のmac',price:9000 },
      { id: 1,product:'少し前のmac',price:8000 },
      { id: 2,product:'昔のmac',price:7000 },
      { id: 3,product:'ダメなmac',price:6000 },
      { id: 4,product:'壊れたmac',price:5000 },
    ]
  }
})
</script>
<br>
<h1>vue5</h1>
<div id="app5">
  <!--v-modelでbudget(予算)をリアルタイムで変更可能にします-->
  <!--budget(予算)はscriptのbudgetと連動しています-->
  <input type="text" v-model="budget" />の中で買えるもの
  <ul>
    <!--bestproductsが最終的に選ばれた予算以下の商品のリストが入ります。-->
    <!--どうやって予算以下の商品を選んでいるのでしょう。-->
    <!--scriptを見てください。-->
    <!--v-bind:keyに表示されたデータのidを指定します。-->
    <!--v-bind:keyは、なるべく入れる必要があります。-->
    <li v-for="items in bestproducts" v-bind:key="bestproducts.id">{{items.product}}:{{items.price}}円</li>
  </ul>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
var app5 = new Vue({
  el: '#app5',
  data: {
    //最初budget(予算を設定します)
    budget : 10000,
    //アイテムのデータを一覧で持たせます。
    //この中のpriceを基準として表示する商品を選びます。
    items: [
      { id: 0,product:'最新のmac',price:9000 },
      { id: 1,product:'少し前のmac',price:8000 },
      { id: 2,product:'昔のmac',price:7000 },
      { id: 3,product:'ダメなmac',price:6000 },
      { id: 4,product:'壊れたmac',price:5000 },
    ]
  },
  //算出プロパティ「computed」はdataに変化があった時に起動します。
  computed:{
    //bestproductsの中に、絞り込まれた商品リストが入ります。
    bestproducts: function () {
      //ここでitemsリストを絞り込んで返します。
      //this.itemsでこの処理のitemsを呼び出します。
      //その後、filterでリストを絞り込みます。
      //引数としてel(リストの全データ)を渡し、関数内で使えるようにします。
      //elの文字は任意に変更できません。
      return this.items.filter(function (el) {
        //データの中の価格が予算より少ないものを選んで絞り込みます。
        //こうして出来上がったリストがbestproductsに格納されます。
        return el.price <= this.budget
      }, this)
    }
  }
})
</script>
<br>
<h1>vue6</h1>
<div id="app6" class="articleArea">
  <!-- componentを使うと、datas-joblistというようなタグを作ることができます -->
  <!-- datas-joblistにはテンプレートが設定されており、テンプレートを使ってjoblistのデータが出力されます -->
  <!-- このタグはv-forでループされています -->
  <datas-joblist v-for="list in joblist" v-bind:todo="list" v-bind:key="list.id"></datas-joblist>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
//コンポーネントを使って、新しいタグを作り出しています。
Vue.component('datas-joblist', {
  //propsにtodoを設定します。templateでデータ出力時に使うタグを設定します。
  //todoはhtmlのv-bindを通し、今回の場合「list」を出力する器となっています。
  //ここで設定したテンプレに応じてv-bind:todoで設定したデータが出力されます。
  props: ['todo'],
  template: '<article><h2>{{ todo.title }}</h2>{{ todo.text }}</article>'
})

//以下は前回もやったforと一緒の仕組を使っています。
var app = new Vue({
  el: '#app6',
  data: {
    joblist: [
      { id: 0, text: 'テキストテキストテキストテキストテキストテキスト',title:'タイトル' },
      { id: 1, text: 'テキストテキストテキストテキストテキストテキスト',title:'タイトル' },
      { id: 2, text: 'テキストテキストテキストテキストテキストテキスト',title:'タイトル' },
      { id: 30, text: '30',title:'タイトル30' },
      { id: 40, text: '400',title:'タイトル400' }
    ]
  }
})
</script>
<br>
<h1>vue7</h1>
<div id="app7">
  <!--ボタンをクリックすると、現在のタブのidがcurrentTabに入ります(v-on:click)-->
  <!--するとscript内のdataにあるcurrentTabの中がidに切り替わります-->
  <!--その変化を検知して、算出プロパティ(computed)が動きます-->
  <!--現在のcurrentTabを取得してtab-(currentTab)という形に繋げ、コンポーネント呼び出します。-->
  <!--v-bind:classはcurrentTabがtab.idと一緒だったらcompTabButton-activeが追加されるという意味です-->
  <button v-for="(tab,index) in tabs" v-bind:key="tab.id" class="compTabButton" v-bind:class="{ 'compTabButton-active': tab.id === currentTab }" v-on:click="currentTab = tab.id">
    <!--v-forでタブ一覧を表示させています-->
    <span v-bind:class="tab.id">{{ tab.text }}</span>
  </button>
  <!--currentTabComponentに返されたtab-のテキストから適応するcomponentを判断します-->
  <!--script内componentのtab-homeなど、文字列が一致したcomponentが適応されます-->
  <!-- 結果、中のコンテンツが切り替わるという流れです -->
  <component v-bind:is="currentTabComponent" class="app-tab"></component>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
Vue.component('tab-home', { template: '<div>ホームのコンポーネントです。'
+'<br>ホーム2222のコンポーネントです。</div>'
+'<div>ホーム2222のコンポーネントです。</div>'})
Vue.component('tab-home2222', { template: '<div>ホーム2222のコンポーネントです。</div>' })
Vue.component('tab-posts', { template: '<div>投稿のコンポーネントです。</div>' })
Vue.component('tab-archive', { template: '<div>一覧のコンポーネントです。</div>' })
new Vue({
  el: '#app7',
  data: {
    currentTab: 'home',
    tabs: [
      {id:'home',text:"ホーム"},
      {id:'home2222',text:"ホーム2222"},
      {id:'posts',text:"投稿"},
      {id:'archive',text:"一覧"}
    ]
  },
  computed: {
    currentTabComponent: function () {
      //currentTabComponentにtab-(currentTab)の文字列を繋げ呼び出します。
      return 'tab-' + this.currentTab;
    }
  }
})
</script>
<br>
<h1>vue8</h1>
<link href="https://cdn.jsdelivr.net/npm/animate.css@3.5.1" rel="stylesheet" type="text/css">
<div id="app8">
	<button v-for="(tab,index) in tabs" v-bind:key="tab.id" class="compTabButton" v-bind:class="{ 'compTabButton-active': tab.id === currentTab }" v-on:click="currentTab = tab.id">
		<span v-bind:class="tab.id">{{ tab.text }}</span>
	</button>
	<!--animate.cssと併用でトランジション(動き)も簡単に実装-->
	<!--動かしたい箇所をtransitionタグで囲むだけ-->
	<!--enter-active-classに「表示されるとき」の動きを設定。animatedのあとにanimate.cssの効果を入れる。-->
	<!--leave-active-classに「消えるとき」の動きを設定。animatedのあとにanimate.cssの効果を入れる。-->
	<!--mode="out-in"は表示される要素と消える要素をタイミングをずらして処理する指定(消してみると一目瞭然)-->
	<transition enter-active-class="animated bounceInLeft" leave-active-class="animated bounceOutRight"  mode="out-in">
		<component v-bind:is="currentTabComponent" class="app-tab"></component>
	</transition>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script>
	Vue.component('tab-home', { template: '<div>ホームのコンポーネントです。</div>' })
	Vue.component('tab-posts', { template: '<div>投稿のコンポーネントです。</div>' })
	Vue.component('tab-archive', { template: '<div>一覧のコンポーネントです。</div>' })
	new Vue({
		el: '#app8',
		data: {
			currentTab: 'home',
			tabs: [
				{id:'home',text:"ホーム"},
				{id:'posts',text:"投稿"},
				{id:'archive',text:"一覧"}
			]
		},
		computed: {
			currentTabComponent: function () {
				return 'tab-' + this.currentTab;
			}
		}
	})
</script>
<br>
<h1>vue9</h1>
<script>
<!-- // button-counter と呼ばれる新しいコンポーネントを定義します -->
Vue.component('button-counter', {
  data: function () {
    return {
      count: 0
    }
  },
  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
})

</script>
<div id="components-demo">

  <button-counter></button-counter>
  <button-counter></button-counter>
  <button-counter></button-counter>
</div>
<script type="text/javascript">
new Vue({ el: '#components-demo' })
</script>
</body>
</html>
